<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }} - {{ site.title }}</title>
    <meta name="author" content="{{ site.author }}" />
    <link rel="stylesheet" href="css/base.min.css">
    <link rel="alternate" type="application/atom+xml" title="colensofeed" href="/atom.xml" />               
  </head>
  <body>
    <div class="container clearfix">
      <div class="header">
        <div class="sm-table table-fixed center nowrap">
          <div class="sm-table-cell">
            <a href="/" class="button button-narrow button-nav-light">colenso.org</a>
          </div>
          <div class="sm-table-cell">
            <a href="/journal.html" class="button button-narrow button-nav-light">journal</a>
          </div>
          <div class="sm-table-cell">
            <a href="/projects.html" class="button button-narrow button-nav-light">projects</a>
          </div>
  <body> 
    <div class="container">
      <div class="header">
        <div class="sm-table table-fixed center nowrap">
          
          <div class="sm-table-cell">
            <a href="/" class="button button-narrow button-nav-light">{{ page.title }}</a>
          </div>
  
          
          <div class="sm-table-cell">
            <a href="/journal.html" class="button button-narrow button-nav-light">blog</a>
          </div>
          
          <div class="sm-table-cell">
            <a href="/projects.html" class="button button-narrow button-nav-light">projects</a>
          </div>
          <div class="sm-table-cell">
            <a href="/about.html" class="button button-narrow button-nav-light">about</a>
          </div>
        </div>
      </div>
      {% block content %}{% endblock %}
      <div class="clearfix">
        <p>
          &copy; 2014 michaelcolenso |
          <a href="/imprint.html">disclaimer</a> |
          <a href="/atom.xml">RSS Feed</a>          
        </p>
      </div>
    </div>   
    <script src="js/app.min.js"></script>

  </body>
</html>
